extends ../layouts/application.pug

block header
  div= t('views.tasks.title')
  a.btn.btn-primary.btn-lg(href="/tasks/new")= t('views.tasks.createBtn')

block content
  .card
    card-body.p-4.bg-light
      +formFor()(action='/tasks' method='get')
        .row
          .col
            +filterSelect(filters, statuses, 'statusId')
          .col
            +filterSelect(filters, users, 'executorId')
          .col
            +filterSelect(filters, labels, 'labelId')
        +filterCheckBox(filters, 'task', 'onlyMyTasks')
        +submit()(value=t('views.tasks.new.show'))

  table.table.table-striped.mt-5.bg-white
    thead
      tr
        th= t('views.tasks.id')
        th= t('views.tasks.name')
        th= t('views.tasks.statusId')
        th= t('views.tasks.creatorId')
        th= t('views.tasks.executorId')
        th= t('views.tasks.createdAt')
        th= t('views.tasks.actions')
    tbody
      each task in tasks
        tr
          td= task.id
          td
            a(href=`/tasks/${task.id}`)= task.name
          td= task.status.name
          td= `${task.userCreator.firstName} ${task.userCreator.lastName}`
          td= `${_.get(task, 'userExecutor.firstName', '')} ${_.get(task, 'userExecutor.lastName', '')}`
          td= formatDate(task.createdAt)
          td
            div.d-flex.flex-wrap
              a.btn.btn-primary.me-1(href=`/tasks/${task.id}/edit`)= t('views.tasks.editBtn')
              +buttonTo(`/tasks/${task.id}/delete`, 'delete')(class="btn btn-danger" value=t('views.tasks.deleteBtn'))